#**Python Data-types and Structures Questions**

1. What are data structures, and why are they important?
- Data structures are organized formats to store and manage data efficiently. They are important because they optimize performance for operations like searching, sorting, and modifying data. Examples: lists, tuples, sets, dictionaries.

2. Difference between mutable and immutable data types with examples.

- Mutable: Can be changed after creation.
 -  Example:

        my_list = [1, 2, 3]

        my_list[0] = 10  # Allowed


- Immutable: Cannot be changed once created.
 - Example:

        my_tuple = (1, 2, 3)

        my_tuple[0] = 10 # Error

3.  What are the main differences between lists and tuples in Python?

- List: Mutable, slower in execution, more memory usage, syntax [].

- Tuple: Immutable, faster (due to fixed size), more memory-efficient, syntax ().

  Use :- lists when data may change; use tuples when data must remain constant.

 4.  Describe how dictionaries store data?
- A dictionary stores data as key–value pairs. Each key is like a unique label, and Python uses a special method (hashing) to quickly find the value linked to that key. This makes searching very fast.

  -  Example:
   
        student = {"name": "Raj", "age": 20}


  Here: "name" and "age" are keys, and "Raj", 20 are their values.

5. Why might you use a set instead of a list in Python?

- Removes duplicate values automatically.

- Provides faster membership testing (x in set is faster than x in list).

- Useful for mathematical operations like union, intersection, difference.

6. What is a string in Python, and how is it different from a list?

- A string is an immutable sequence of characters.
  - Example: "hello".

- A list is a mutable collection of items, which can be numbers, strings, or objects.
  - Example: [1, "hello", 3.5].

Main difference: strings cannot be modified directly, lists can.

7. How do tuples ensure data integrity in Python?
- Since tuples are immutable, their contents cannot be modified, which prevents accidental changes. This makes them reliable for storing fixed data like constants, coordinates, or configurations.

8. What is a hash table, and how does it relate to dictionaries in Python?
- A hash table stores data in key–value pairs using hashing. Python dictionaries are implemented using hash tables, which is why dictionary operations like insert, delete, and lookup are efficient.

9.  Can lists contain different data types in Python?
- Yes, lists can hold integers, strings, floats, and even other lists/objects together.


10. Explain why strings are immutable in Python?

- Memory saving: Same string can be reused instead of creating new ones.

- Safety: If many parts of a program use the same string, it won’t suddenly change.

- Speed: Since strings can’t change, Python doesn’t need to keep track of edits, making it faster.

  -  Example:

         s = "hello"
         s[0] = "H"   # Not allowed, string is immutable

11. What advantages do dictionaries offer over lists for certain tasks?
- Faster search: You can directly find values using keys (no need to check one by one).

- Clear meaning: Keys make data easier to understand (like "name": "Raj").

- Better mapping: Good for showing relationships (student → marks, country → capital).

- No index needed: You don’t have to remember positions like in a list.

  - Example:

            student = {"name": "Raj", "marks": 85}


   Here, "name" and "marks" make it clear what each value means.

12. Describe a scenario where using a tuple would be preferable over a list?
- Use tuples when data should not change (like days of the week, or coordinates (28.6, 77.2)).

- Tuples keep data safe from accidental changes.

- Tuples can be used as keys in dictionaries, but lists cannot.

  -  Example:

         location = (28.6, 77.2)   # latitude, longitude

13. How do sets handle duplicate values in Python?
-  Sets automatically remove duplicates and store only unique elements.

        s = {1, 2, 2, 3}
        print(s)   # {1, 2, 3}

14. How does the “in” keyword work differently for lists and dictionaries?


- In lists, it checks if an element exists.

- In dictionaries, it checks if a key exists.

      print(2 in [1,2,3])        # True
      print("name" in {"name": "Nandini"})  # True

15. Can you modify the elements of a tuple? Explain why or why not?
- No, tuples are immutable → elements cannot be changed after creation.

      t = (1, 2, 3)
      t[0] = 10 → Error
16. What is a nested dictionary, and give an example of its use case?
- A dictionary inside another dictionary.

- Useful for structured data (e.g., storing student info).

        student = {
          "101": {"name": "Aman", "age": 20},
          "102": {"name": "Nandini", "age": 22}}

17. Describe the time complexity of accessing elements in a dictionary?
- O(1) on average (uses hash tables).

- Very fast lookups compared to lists (O(n)).

18. In what situations are lists preferred over dictionaries?
- When order matters.

- When you just need a simple sequence (e.g., [10, 20, 30])


19. Why are dictionaries considered unordered, and how does that affect data retrieval?
- Dictionaries store data as key–value pairs using hash tables.

- Before Python 3.7, dictionaries did not guarantee insertion order, so you couldn’t rely on the order of items.
Data retrieval is always done by key, not by position, which makes it fast and independent of order.

  -  Example:

         d = {"a": 1, "b": 2, "c": 3}

         print(d["b"])   # 2 (retrieved by key, not position)

20. Explain the difference between a list and a dictionary in terms of data retrieval?

- List → Data is retrieved by index (position).

        mylist = [10, 20, 30]
        print(mylist[1])   # 20 (second element)


- Dictionary → Data is retrieved by key.

        mydict = {"id": 101, "name": "Nandini"}
        print(mydict["name"])   # Nandini


   So, lists use numeric positions, while dictionaries use unique keys for retrieval.

#**Practical Questions**

In [3]:
#1 Write a code to create a string with your name and print it.

name = "Nandini"
print(name)

Nandini

In [4]:
#2 Write a code to find the length of the string "Hello World".

text = "Hello World"
print(len(text))

11

In [5]:
#3 Write a code to slice the first 3 characters from the string "Python Programming".
text = "Python Programming"
print(text[:3])

Pyt

In [6]:
#4 Write a code to convert the string "hello" to uppercase

text = "hello"
print(text.upper())

HELLO

In [7]:
#5 Write a code to replace the word "apple" with "orange" in the string "I like apple"

text = "I like apple"
print(text.replace("apple", "orange"))

I like orange

In [8]:
#6 Write a code to create a list with numbers 1 to 5 and print it.

numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [9]:
#7 Write a code to append the number 10 to the list [1, 2, 3, 4]

numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

In [10]:
#8 Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [11]:
#9 Write a code to access the second element in the list ['a', 'b', 'c', 'd']

letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

In [12]:
#10 Write a code to reverse the list [10, 20, 30, 40, 50].

numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

In [14]:
#11 Write a code to create a tuple with the elements 100, 200, 300 and print it.

t = (100, 200, 300)
print(t)

(100, 200, 300)

In [15]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [17]:
#13 Write a code to find the minimum number in the tuple (10, 20, 5, 15).

nums = (10, 20, 5, 15)
print(min(nums))

5

In [18]:
#14 Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

In [19]:
#15 Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

fruits = ("apple", "banana", "mango")
print("kiwi" in fruits)

False

In [20]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

s = {'a', 'b', 'c'}
print(s)

{'b', 'a', 'c'}

In [21]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [22]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

In [23]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))

{1, 2, 3, 4, 5}

In [24]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

a = {1, 2, 3}
b = {2, 3, 4}
print(a.intersection(b))

{2, 3}

In [25]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

person = {"name": "John", "age": 25, "city": "New York"}
print(person)

{'name': 'John', 'age': 25, 'city': 'New York'}

In [26]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

person = {'name': 'John', 'age': 25}
person["country"] = "USA"
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [27]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

person = {'name': 'Alice', 'age': 30}
print(person["name"])

Alice

In [28]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
person.pop("age")
print(person)

{'name': 'Bob', 'city': 'New York'}

In [31]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

person = {'name': 'Alice', 'city': 'Paris'}
print("city" in person)

True

In [33]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all.

mylist = [1, 2, 3]
mytuple = (4, 5, 6)
mydict = {"a": 10, "b": 20}
print(mylist, mytuple, mydict)

[1, 2, 3] (4, 5, 6) {'a': 10, 'b': 20}

In [35]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

import random
nums = random.sample(range(1, 101), 5)
nums.sort()
print(nums)

[22, 26, 33, 68, 87]

In [36]:
#28. Write a code to create a list with strings and print the element at the third index.

words = ["apple", "banana", "cherry", "date", "fig"]
print(words[3])

date

In [37]:
#29. Write a code to combine two dictionaries into one and print the result.

dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
combined = {**dict1, **dict2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [40]:
#30. Write a code to convert a list of strings into a set.

words = ["apple", "banana", "apple", "cherry"]
word_set = set(words)
print(word_set)

{'banana', 'cherry', 'apple'}